name: Check generated files

on:
  workflow_call:

permissions:
  contents: read

jobs:
  check-generated:
    name: Check generated files
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1

      - name: Ensure 'go generate' is clean
        run: |
          # shellcheck disable=SC2046
          go generate $(go list ./...)
          echo
          echo

          if ! git diff --name-only --exit-code; then
            echo "The files above need updating. Please run 'go generate'."
            exit 1
          fi
      
      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1
