name: Lint Go

on:
  workflow_call:

permissions:
  contents: read

jobs:
  check-mod-tidy:
    name: Check if go.mod is tidy
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1

      - name: Ensure go.mod was tidied
        run: |
          GO_VERSION="$(go version | grep -Po '\d\.\d\d\.\d+')"
          go mod tidy -compat "${GO_VERSION}"
          STATUS=$(git status --porcelain go.mod go.sum)
          if [[ -n $STATUS ]]; then
            echo "Running 'go mod tidy' modified go.mod and/or go.sum"
            echo "Run 'go mod tidy -compat ${GO_VERSION}' to fix"
            echo
            echo "Diff:"
            git diff
            exit 1
          fi

      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1

  staticcheck:
    name: Run Staticcheck
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1

      - name: Lint with staticcheck
        uses: dominikh/staticcheck-action@v1.4.0
        with:
          install-go: false

      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1

  golangci-lint:
    name: Run golangci-lint
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v9.0.0
