name: Lint Dockerfile

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint-dockerfile:
    name: Lint Dockerfile
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: Dockerfile

  build-image:
    name: Verify Docker image builds
    runs-on: ubuntu-latest
    # only run this check on pull requests, pushes to master will trigger
    # an image release
    if: contains(github.ref, 'pull')
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Ensure Docker image builds
        uses: docker/build-push-action@v6
        with:
          load: true
          push: false
          tags: ghcr.io/${{ github.repository }}:build-test
