name: Lint workflows

on:
  workflow_call:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/*"
  pull_request:
    branches:
      - "*"
    paths:
      - ".github/workflows/*"

  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  lint-workflows:
    name: Lint workflows
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1

      - name: Lint workflow files
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          go install github.com/rhysd/actionlint/cmd/actionlint@latest
          actionlint

      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1
