name: Lint Go

on:
  workflow_call:

permissions:
  contents: read

jobs:
  check-mod-tidy:
    name: Check if go.mod is tidy
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1

      - name: Ensure go.mod was tidied
        run: |
          GO_VERSION="$(go version | grep -Po '\d\.\d\d\.\d+')"
          go mod tidy -compat "${GO_VERSION}"
          STATUS=$(git status --porcelain go.mod go.sum)
          if [[ -n $STATUS ]]; then
            echo "Running 'go mod tidy' modified go.mod and/or go.sum"
            echo "Run 'go mod tidy -compat ${GO_VERSION}' to fix"
            echo
            echo "Diff:"
            git diff
            exit 1
          fi

      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1

  check-test-symbols:
    name: Check for test symbols in main packages
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1

      - name: Check for test symbols
        run: |
          go install github.com/loov/goda@latest

          MAIN_PKGS="$(go list -f '{{if eq .Name "main"}}{{.ImportPath}}{{end}}' ./...)"
          #shellcheck disable=SC2086
          for main_pkg in ${MAIN_PKGS}; do
            for import in "testing" "github.com/stretchr/testify" "github.com/google/go-cmp" "github.com/matryer/is" "go.uber.org/goleak"; do
              # add the module to go.mod if it's not a stdlib package
              if echo "${import}" | grep -q '/'; then
                go get "${import}@latest"
              fi
              COUNT="$(goda tree reach\(${main_pkg}:all, ${import}/...\) | tee /dev/stderr | tr -d ' ' | wc -l)"
              if [ "${COUNT}" -gt 0 ]; then
                echo
                echo "Found test symbols in ${main_pkg} imported from ${import}"
                exit 1
              fi
            done
          done

      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1

  staticcheck:
    name: Run Staticcheck
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1

      - name: Lint with staticcheck
        uses: dominikh/staticcheck-action@v1.4.0
        with:
          install-go: false

      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1

  golangci-lint:
    name: Run golangci-lint
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v9.0.0
