name: Reproduce binary

on:
  workflow_call:
    inputs:
      extra-build-flags:
        description: Build flags that aren't detected by gorepro
        required: false
        type: string

jobs:
  repro-binary:
    name: Check if binary is reproducible
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1

      - name: Build with goreleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: build --verbose --single-target --snapshot -o out

      - name: Attempt to reproduce binary
        run: |
          go install github.com/capnspacehook/gorepro@master
          if ! gorepro -b="${{ inputs.extra-build-flags }}" -v out; then
            go version -m out
            go version -m out.repro
            exit 1
          fi

      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1
