name: Test

on:
  workflow_call:
    inputs:
      run-fuzz-tests:
        description: Run fuzz tests recursively
        required: false
        type: boolean
        default: true
      fuzz-with-race:
        description: Run fuzz tests with race detector
        required: false
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  race-test:
    name: Test with race detector
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1

      - name: Run tests
        run: |
          go test -race -timeout 10m -v ./...

      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1

  fuzz:
    name: Fuzz code
    runs-on: ubuntu-latest
    needs: race-test
    if: inputs.run-fuzz-tests
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version-file: go.mod

      - name: Restore Go cache
        uses: capnspacehook/cache-go/restore@v2.0.1
        with:
          cache-fuzz-corpus: true

      - name: Run fuzz tests
        run: |
          RACE_FLAG="${{ inputs.fuzz-with-race && '-race' || '' }}"
          
          find . -type f -name '*_test.go' -exec grep -l '^func Fuzz' {} \; | while read -r FILE; do
              grep '^func Fuzz' "$FILE" | sed 's/func \(Fuzz[^(]*\).*/\1/' | while read -r FUZZ_NAME; do
                  echo "Running fuzz test: $FUZZ_NAME in $FILE"
                  TEST_DIR=$(dirname "$FILE")
                  (cd "$TEST_DIR" && go test "$RACE_FLAG" -run DONOT -fuzz="^${FUZZ_NAME}$" -fuzztime=10m) || exit 1
              done
          done

      - name: Save Go cache
        if: always()
        uses: capnspacehook/cache-go/save@v2.0.1
        with:
          cache-fuzz-corpus: true
